# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [8]:
weather_df = pd.read_csv("Output/CityWeatherData.csv")

weather_df.head(10)

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Windspeed
0,vangaindrano,0,NaN,1603761708,88,-23.35,47.60,66.63,4.29
1,kapaa,75,NaN,1603761603,78,22.08,-159.32,75.20,16.11
2,hay river,90,NaN,1603761708,100,60.82,-115.80,24.80,9.17
3,rikitea,100,NaN,1603761709,87,-23.12,-134.97,75.31,13.44
4,victoria,63,NaN,1603761438,68,22.29,114.16,78.01,3.00
5,ashland,90,NaN,1603761416,93,40.82,-82.27,44.60,5.82
6,ushuaia,20,NaN,1603761710,34,-54.80,-68.30,50.00,16.11
7,thompson,5,NaN,1603761710,57,55.74,-97.86,23.00,6.93
8,puerto ayora,43,NaN,1603761710,92,-0.74,-90.35,68.00,1.99
9,ambon,40,NaN,1603761711,70,-3.70,128.18,87.80,3.36

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map